#bar-one {
  list-style: none;
  position: relative;
  margin-top: 0px; }

#image-logo > img {
  height: 40px; }

#etsy-search {
  position: absolute;
  top: 10px;
  left: 110px; }

#bar-two {
  list-style: none;
  float: left;
  margin-top: 0px; }

.links {
  float: left;
  margin: 10px; }
