#bar-one {
  list-style: none;
  position: relative;
  margin-top: 0px; }

#image-logo > img {
  height: 40px; }

#etsy-search {
  position: absolute;
  top: 10px;
  left: 110px; }

#bar-three {
  list-style: none;
  position: relative;
  color: lightgray; }

#cart {
  position: absolute;
  bottom: 20px;
  left: 1075px; }

#sell {
  position: absolute;
  bottom: 30px;
  left: 800px; }

#register {
  position: absolute;
  bottom: 30px;
  left: 900px; }

#sign-in {
  position: absolute;
  bottom: 30px;
  left: 975px; }

#bar-two {
  list-style: none;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1112px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray; }

.links {
  float: left;
  margin: 10px;
  padding-right: 15px;
  color: #797979;
  margin-right: 1.5px; }

#top-container {
  position: relative; }

span {
  padding-left: 45px; }

#cats {
  color: #00A9C9; }

#biggest-container {
  margin-top: 67px;
  background-color: #F3F5F0;
  position: relative;
  height: 1200px;
  width: 1150px; }

#left-container {
  list-style: none;
  background-color: #FFFFFF;
  color: #00A9C9;
  width: 150px;
  margin-right: 0px;
  margin-left: 40px;
  padding-left: 5px;
  border: 1px solid gray; }

.left-bar-link {
  margin-top: 3.5px; }

#right-container {
  height: 400px;
  width: 1000px;
  position: absolute;
  left: 200px;
  top: 45px; }

.items-box {
  height: 240px;
  width: 220px;
  border: 1px solid lightgray;
  margin: 4px;
  font-size: 14px;
  display: inline-block;
  background-color: white;
  border-radius: 4px; }

.items-box > img {
  height: 200px;
  width: 220px; }

.shop {
  float: left;
  color: lightgray;
  padding-left: 3px; }

.prices {
  float: right;
  color: lightgreen;
  padding-right: 5px; }

.title {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.title > a {
  text-decoration: none;
  color: black; }

.burgerHearts {
  position: relative;
  height: 4px; }

.burgerHearts > div {
  position: absolute;
  left: 160px;
  display: none;
  z-index: 99; }

.burgerHearts:hover > div {
  display: block; }
