

#bar-one {
  list-style: none;
  position:relative;
  margin-top:0px;
}
#image-logo > img {
  height:40px;

}

#etsy-search {
  position:absolute;
  top:10px;
  left:110px;
}

#bar-two {
  list-style: none;
  float:left;
  margin-top:10px;
  margin-bottom:10px;
  width:1200px;

}

.links {
  float:left;
  margin:10px;
  color:#797979;
  margin-right:1.5px;
}

#biggest-container {
  margin-top: 60px;
  background-color:#F3F5F0;
  position:relative;
  height:1200px;
  width:1150px;
}

#left-container{
  list-style: none;
  background-color: #FFFFFF;
  color: #00A9C9;
  width:150px;
  margin-right:0px;
  margin-left:40px;
  padding-left:5px;
  border:1px solid gray
}

.left-bar-link{
  margin-top:3.5px;
}

#right-container {
  height:400px;
  width:1000px;
  position:absolute;
  left: 200px;
    top: 45px;
}

.dumb-box {
  height:220px;
  width:220px;
  border:1px solid gray;
  margin:4px;
  display:inline-block;
}
